<h2>Borrado de persona</h2>
<form method="post" action="elimina">
    <label for="dni">DNI</label>
    <input type="text" id="dni" name="dni">
    <button type="submit">Baja</button>
    <button type="reset">Cancelar</button>
</form>