<h2>Modifica el nombre de persona a "pepito"</h2>
<form method="post" action="modifica">
    <label for="dni">DNI</label>
    <input type="text" id="dni" name="dni">
    <button type="submit">Modifica</button>
</form>